<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer section-container">
    <div class="footer-max-width max-content-container">
      <div class="footer-copyright">
        <span class="footer-text">
          <span>.</span>
          <span>© All rights reserved </span>
          <a
            href="https://digitalasset.com/"
            target="_blank"
            rel="noreferrer noopener"
            class="footer-link"
          >
            Digital Asset.
          </a>
        </span>
      </div>
    </div>
  </footer>
</div>
