<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav>
    <span class="navigation-links-text navigation-Link">
      <span>Use Cases</span>
    </span>
    <span class="navigation-links-text1 navigation-Link">
      <span>Products</span>
    </span>
    <span class="navigation-links-text2 navigation-Link">
      <span>Developers</span>
    </span>
    <span class="navigation-links-text3 navigation-Link">
      <span>Company</span>
    </span>
    <span class="navigation-links-text4 navigation-Link">
      <span>Partners</span>
    </span>
  </nav>
</div>
